#root {
  width: 100vw;
  max-width: 60rem;
  margin: 0 auto;
  text-align: center;
  padding: 2rem;

  min-height: 100vh;
  min-height: 100lvh;
}

.faq-grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 20px;
  justify-content: start !important;
  text-align: left;
}
